/* Importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Importamos las fuentes */

body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.Contenedor{
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

/* Seccion de menu */
.MenuLateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: navy;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 0px;
    transition: 0.5s;
    margin-top: 0;
}

.MenuLateral .DivisorMenu{
    width: 80%;
    border: none;
    border-top: 1px solid;
    color: #818181;
}

.MenuLateral a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display:  block;
    transition: 0.5s;
}

.MenuLateral a:hover{
    color: #f1f1f1;
    /* text-decoration: underline; */
}

.MenuLateral .Activo{
    color: #f1f1f1;
}

.MenuLateral .Footer{
    color: #fff;
    width: 70%;
    margin-left: 25px;
}


.AbrirMenu{
    font-size: 20px;
    cursor: pointer;
    background-color: navy;
    color: #fff;
    padding:  10px 15px;
    border: none;
}

.AbrirMenu:hover{
    background-color: rgb(9, 0, 138);
}

#Menu{
    transition: margin-left 0.5ms;
    /* padding: 20px; */
    width: 120px;
    float: left;

}

@media screen and (max-height: 450px) {
    .MenuLateral {
        padding-top: 15px;
    }
    
    .MenuLateral a {
        font-size: 18px;
    }
}

/* Seccion de menu */

/* Seccion de Contenido Principal */

#main {
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px #e3e1e1; */
    background-color: #f1f1f1;
    border-radius: 10px 0px 0px 0px;
    border-bottom: 1px solid navy;
    border-right: solid 10px navy;
    margin: 20px;
    padding: 20px;
    width: 80%;
    float: right;
}

@media screen and (max-width: 400px){
    #main {
        
        margin-left: 10px;
        float: left;
        margin-top: 50px;
        width: 95%;
    }
}

/* Seccion de Contenido Principal */